{% extends "layout.html" %}
{% block content %}
<div class="content-section mb-4">
    <legend class="border-bottom mb-4">Hashes History</legend>
    <small>{{hash_count}} {{'hashes' if hash_count > 1 else 'hash'}}</small>
    <div class="accordion" id="accordionPanelsStayOpenExample">
        {% if hashes %}
            {% for hash in hashes.items %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{hash.id_hash}}" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    <p>#{{loop.index}} {{hash.name}}<small class="text-muted mx-6"> {{hash.date_start.strftime("%d/%m/%Y %H:%M:%S")}}</small> </p>
                </button>
                </h2>
                <div id="panelsStayOpen-collapse{{hash.id_hash}}" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <p class="mb-2">ID: {{hash.id_hash}}</p>
                    <p class="mb-2">Hash: <a href="{{hash.hash}}">Click Here !</a></p>
                    <p class="mb-2">Algorithm: {{hash.algorithm}}</p>
                    <p class="mb-2">Power: {{hash.power}}</p>
                    <p class="mb-2">Provider: {{hash.provider}}</p>
                    <p class="mb-2">Start Date: {{hash.date_start.strftime("%d/%m/%Y %H:%M:%S")}}</p>
                    {% for instance in instances %}
                        {% if instance.id_instance == hash.fk_id_instance %}
                            <p class="mb-2">End Date: {{ instance.date_shutdown.strftime("%d/%m/%Y %H:%M:%S") if instance.date_shutdown else "None" }}</p>
                        {%endif%}
                    {% endfor %}
                    <p class="mb-2"><strong>Result:</strong> <a href="{{hash.result}}">Click Here !</a></p>
                    <p class="mb-2"><strong>Status:</strong> {{hash.status}}</p>
                    <p class="mb-2">Price: {{hash.price}}</p>
                    
                    
                    {% if hash.status == "Processing" %}
                    <button class="btn btn-sm btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#stopModal-{{hash.id_hash}}" >
                        Stop
                    </button>
                    {% endif %}
                    {% if hash.status == "Initialisation" or hash.status == "In Queue"%}
                    <button class="btn btn-sm btn-outline-secondary" type="button" disabled>
                        Stop
                    </button>
                    {% endif %}
    
                    <button class="btn btn-outline-danger btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal-{{hash.id_hash}}" >
                        Delete
                    </button>
                </div>
                </div>
            </div>
            <!-- Modal Delete Hash-->
            <div class="modal fade" id="deleteModal-{{hash.id_hash}}" tabindex="-1" aria-labelledby="deleteModal-{{hash.id_hash}}Label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deleteModal-{{hash.id_hash}}Label">Are you sure you want to delete the hash ?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <form action="{{ url_for('delete_hash', id_hash=hash.id_hash) }}" method="post">
                                <input class="btn btn-danger" type="submit" value="Delete">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal stoped Hash-->
            <div class="modal fade" id="stopModal-{{hash.id_hash}}" tabindex="-1" aria-labelledby="stopModal-{{hash.id_hash}}Label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="stopModal-{{hash.id_hash}}Label">Are you sure you want to stop the cracking process?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <form action="{{ url_for('stop_hash', id_hash=hash.id_hash) }}" method="post">
                                <input class="btn btn-danger" type="submit" value="Stop">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div>
                <p>No hashes found.</p>
            </div>
        {% endif %}
    </div>
    <ul class="pagination justify-content-center mt-3">
        {% for page_num in hashes.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if hashes.page == page_num %}
                    <li class="page-item active"><a class="page-link bg-dark text-light border-dark-subtle" href="{{ url_for('account', page=page_num) }}">{{ page_num }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link text-dark border-dark-subtle" href="{{ url_for('account', page=page_num) }}">{{ page_num }}</a></li>
                {% endif %}
            {% else %}
                <li class="page-item page-link text-dark border-dark-subtle">...</li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock %}