{% extends "layout.html" %}

{% block content %}
<h1 class="mb-5">Welcome to the {{ title }} page</h1>
<form id="crackstation-form" class="row g-3 mx-auto pb-3" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="col-md-12">
        {{ form.name.label(class="form-control-label") }}
        {{ form.name(class="form-control form-control-lg") }}
        {% if form.name.errors %}
            <div class="invalid-feedback">
                {% for error in form.name.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        {{ form.hash.label(class="form-control-label") }}
        {{ form.hash(class="form-control form-control-lg") }}
        {% if form.hash.errors %}
            <div class="invalid-feedback">
                {% for error in form.hash.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}
        <div id="hash-error" class="invalid-feedback"></div>
    </div>
    <div class="col-md-12">
        {{ form.wordlist.label(class="form-control-label") }}
        <div class="form-check">
            {% for subfield in form.wordlist %}
            <div class="form-check">
                {{ subfield(class="form-check-input") }}
                {{ subfield.label(class="form-check-label") }}
            </div>
            {% endfor %}
        </div>
        {% if form.wordlist.errors %}
            <div class="invalid-feedback d-block">
                {% for error in form.wordlist.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        {{ form.use_custom_wordlist(class="form-check-input") }}
        {{ form.use_custom_wordlist.label(class="form-check-label") }}
    </div>
    <div class="col-md-12">
        {{ form.custom_wordlist.label(class="form-control-label") }}
        {{ form.custom_wordlist(class="form-control form-control-lg") }}
        {% if form.custom_wordlist.errors %}
            <div class="invalid-feedback">
                {% for error in form.custom_wordlist.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        {{ form.algorithm.label(class="form-control-label") }}
        {{ form.algorithm(class="form-control form-control-lg") }}
        
        {% if form.algorithm.errors %}
            <div class="invalid-feedback">
                {% for error in form.algorithm.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        {{ form.provider.label(class="form-control-label") }}
        {{ form.provider(class="form-control form-control-lg") }}
        {% if form.provider.errors %}
            <div class="invalid-feedback">
                {% for error in form.provider.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        {{ form.power.label(class="form-control-label") }}
        {{ form.power(class="form-control form-control-lg") }}
        {% if form.power.errors %}
            <div class="invalid-feedback">
                {% for error in form.power.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="col-12">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
{% if not current_user.is_authenticated %}
<div class="pt-3 border-top">
    <small class="text-muted">
        Before cracking your hash. <a class="ml-2" href="/login">Sign In !</a>  
    </small>
</div>
{% endif %}

<!-- Include Select2 CSS and JS with Bootstrap 4 theme -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@1.6.1/dist/select2-bootstrap4.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>



<script>
    $(document).ready(function() {
        // Vérification initiale et configuration en fonction de l'état de la case à cocher lors du chargement de la page
        toggleCustomWordlist($('#crackstation-form input[type="checkbox"][name="use_custom_wordlist"]').is(':checked'));

        // Gestionnaire d'événements pour les modifications de la case à cocher afin de basculer le champ de saisie de la wordlist personnalisée
        $('#crackstation-form input[type="checkbox"][name="use_custom_wordlist"]').change(function() {
            toggleCustomWordlist($(this).is(':checked'));
        });

        function toggleCustomWordlist(enable) {
            var customWordlistInput = $('#crackstation-form input[type="file"][name="custom_wordlist"]');
            customWordlistInput.prop('disabled', !enable);
            customWordlistInput.prop('required', enable);
            customWordlistInput.parent().toggleClass('disabled', !enable);
        }

        // Logique existante pour la validation du type et de la taille du fichier
        $('#crackstation-form input[type="file"]').on('change', function() {
            validateFile($(this)[0]);
        });

        $('#crackstation-form').on('submit', function(event) {
            var fileInput = $('#crackstation-form input[type="file"]')[0];
            if (!validateFile(fileInput) || !validateWordlistSelection()) {
                event.preventDefault();
            }
        });

        function validateFile(fileInput) {
            var file = fileInput.files[0];
            var errorMessage = '';

            if (file) {
                var fileType = file.name.split('.').pop().toLowerCase();
                if (fileType !== 'txt') {
                    errorMessage = 'Seuls les fichiers TXT sont autorisés !';
                } else if (file.size > 200 * 1024 * 1024) { // 200MB
                    errorMessage = 'La taille du fichier doit être inférieure à 200 Mo';
                }
            } else {
                errorMessage = 'Ce champ est obligatoire';
            }

            var hashField = $(fileInput);
            var hashError = $('#hash-error');

            if (errorMessage) {
                hashField.addClass('is-invalid');
                hashError.text(errorMessage).show();
                return false;
            } else {
                hashField.removeClass('is-invalid');
                hashError.text('').hide();
                return true;
            }
        }

        function validateWordlistSelection() {
            var selectedWordlists = $('#crackstation-form input[type="checkbox"][name="wordlist"]:checked').length;
            var customWordlistUploaded = $('#crackstation-form input[type="file"][name="custom_wordlist"]').val() !== '';
            var useCustomWordlistChecked = $('#crackstation-form input[type="checkbox"][name="use_custom_wordlist"]').is(':checked');

            // Vérifier si une wordlist prédéfinie est sélectionnée ou si une wordlist custom est téléchargée
            if (selectedWordlists === 0 && (!useCustomWordlistChecked || (useCustomWordlistChecked && !customWordlistUploaded))) {
                alert('Please select at least one wordlist or upload a custom wordlist.');
                return false;
            }
            return true;
        }
    });
</script>


{% endblock %}
