{% extends "layout.html" %}
{% block content %} 
    <h1>Welcome to the {{title}} page</h1>
    <!-- {% for hash in hashes %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ hash.hash }}</a>
              <small class="text-muted">{{ hash.algorithm }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ hash.algorithm }}</a></h2>
            <p class="article-content">{{ hash.date }}</p>
          </div>
        </article>
    {% endfor %} -->
{% endblock %}